.text {}

.body-m {
  font-size: 1rem;
  line-height: 1.5rem;
}

.body-s {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.body-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}