.page {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: spacing(6);
  padding-bottom: calc(140px + env(safe-area-inset-bottom));
  background-color: #F7F7F7;

  @media (prefers-color-scheme: dark) {
    background-color: var(--background);
  }

  @include media-max(md) {
    padding: spacing(4);
    padding-bottom: calc(300px + env(safe-area-inset-bottom));
  }
}

.header {
  display: flex;
  align-items: center;
  gap: spacing(2);
  max-width: 1040px;
  margin: 0 auto;
  padding-bottom: spacing(8);

  @include media-max(md) {
    padding-bottom: spacing(6);
  }
}

.back {
  margin-left: calc(-1 * (36px + #{spacing(2)}));

  @include media-max(lg) {
    margin-left: 0;
  }
}

.backIcon {
  transform: rotate(90deg);
}

.checkout {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: spacing(16);
  align-items: start;
  max-width: 1040px;
  margin: 0 auto;

  @include media-max(lg) {
    gap: spacing(10);
  }

  @include media-max(md) {
    grid-template-columns: minmax(0, 1fr);
    gap: spacing(8);
  }
}
