.select {
  min-height: auto;

  & .control {
    border: none;
    min-height: auto;

    & .indicatorSeparator {
      display: none;
    }

    & .indicatorsContainer {
      // padding: 0;

      & .dropdownIndicator {
        padding: 0 spacing(2);
      }
    }
  }

  & .menu {
    min-width: 240px;
  }
}

.groupHeading {
  padding: spacing(2) spacing(4);

  & .groupLabel {
    display: flex;
    align-items: center;
    gap: spacing(1);
  }
}

.model {
  display: flex;
  flex-direction: column;
  gap: spacing(1);

  &.selected {
    & .modelDescription {
      color: invert(color(gray, 500));
    }
  }

  & .modelDescription {
    font-size: font-size(sm);
    color: color(gray, 500);
  }
}
