.profilePhoto {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profilePopover {
  display: flex;
  flex-direction: column;
  gap: spacing(4);

  width: 250px;
  padding: spacing(4);
}

.profileButton {
  padding: spacing(1);
}