.emailField input {
  &::placeholder {
    color: #9C9C9C;
    opacity: 1;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.forgotPassword {
  color: #6F6F6F;
  transition: color 0.2s ease;

  &:hover {
    color: #239EFF;
  }

  &:active {
    color: #0076EB;
  }
}
