.popoverContainer {
  position: relative;
  display: inline-block;
}

.popoverTarget {}

.popoverContent {
  position: absolute;
  color: var(--foreground);
  background-color: var(--background);

  @media (prefers-color-scheme: dark) {
    border: 1px solid var(--foreground);
  }

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: spacing(3);
  padding: spacing(2);
  z-index: 1000;
  white-space: nowrap;
  border-radius: 1rem;

  &.position-bottom {
    top: 100%;
    right: 0;
    margin-top: spacing(4);
  }

  &.position-top {
    bottom: 100%;
    right: 0;
    margin-bottom: spacing(4);
  }
}