@use "@/styles/variables" as *;

:root {
  --toastify-color-light: #EFEFEF;
  --toastify-color-dark: #121212;
  --toastify-color-info: #EFEFEF;
  --toastify-color-success: #E7F9EC;
  --toastify-color-warning: #EFEFEF;
  --toastify-color-error: #FFECE8;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: #14C240;
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-container-width: fit-content;
  --toastify-toast-width: auto;
  --toastify-toast-offset: 16px;
  --toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top));
  --toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right));
  --toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left));
  --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));
  --toastify-toast-background: #fff;
  --toastify-toast-padding: 12px 16px;
  --toastify-toast-min-height: 48px;
  --toastify-toast-max-height: 800px;
  --toastify-toast-bd-radius: 12px;
  --toastify-toast-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0.05), 0 16px 32px -4px rgba(12, 12, 13, 0.1);
  --toastify-font-family: inherit;
  --toastify-z-index: #{z-index(toast)};
  --toastify-text-color-light: #000000;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme */
  --toastify-text-color-info: #000000;
  --toastify-text-color-success: #000000;
  --toastify-text-color-warning: #000000;
  --toastify-text-color-error: #000000;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  /* used to control the opacity of the progress trail */
  --toastify-color-progress-bgo: 0.2;
}

.Toastify {
  position: sticky;
  top: spacing(2);
  z-index: var(--toastify-z-index);
  height: 0;
}

.Toastify__toast-container--top-center {
  position: relative;
  top: 0;
  left: 0;
  max-width: calc(100% - 2 * var(--toastify-toast-offset));
  margin-inline: auto;
  transform: none;
}

.Toastify__toast-icon {
  width: 20px;
  margin-inline-end: spacing(3);
  color: #9C9C9C;
}

.Toastify__toast--success .Toastify__toast-icon {
  color: #14C240;
}

.Toastify__toast--error .Toastify__toast-icon {
  color: #FC3F1D;
}

@include for-mobile {
  .Toastify__toast-container--bottom-center {
    left: var(--toastify-toast-left);
    right: var(--toastify-toast-right);
    bottom: calc(var(--toastify-toast-bottom) + spacing(16));
    width: auto;
    gap: spacing(2);
    transform: none;

    & .Toastify__toast {
      --toastify-toast-width: 100%;
      margin-bottom: 0;
      border-radius: var(--toastify-toast-bd-radius);
    }
  }
}
