.header {
  display: flex;
  justify-content: space-between;
}

.page {
  display: flex;
  height: 100%;

  & .mainContent {
    padding: spacing(4);

    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.main {
  flex-grow: 1;
  overflow-y: auto;
}
