.input {
  outline: none;
  background-color: #F7F7F7;
  border-radius: 12px;

  font-size: 14px;
  line-height: 20px;

  &.size-m {
    padding: 8px 14px;
  }

  &.size-l {
    padding: 16px;
  }

  &.fullWidth {
    width: 100%;
  }

  &.error {
    color: #FC3F1D;
    border: 1px solid #FF4D4F;
    background-color: #FC3F1D3D;

    &:not(:read-only) {

      &:active,
      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #FC3F1D3D;
      }
    }
  }


  &:not(:read-only) {

    &:active,
    &:focus {
      outline: 1px solid #239EFF;
      box-shadow: 0 0 0 2px #0F8AFF29;
    }
  }

  @media (prefers-color-scheme: dark) {
    color: #9C9C9C;

    &::placeholder {
      color: #9C9C9C;
      opacity: 1;
    }
  }
}

.label {
  position: relative;
  display: block;
  padding: 2px;
}

.leftIcon {
  position: absolute;

  &:has(+.input.size-m) {
    left: 18px;

    top: 50%;
    transform: translateY(-50%);

    &+.input {
      padding-left: 40px;
    }
  }

  &:has(+.input.size-l) {
    left: 18px;

    top: 50%;
    transform: translateY(-50%);

    &+.input {
      padding-left: 52px;
    }
  }
}