@use "sass:map";
@use "@/styles/_colors";

// Theme Colors
$theme-colors: (
  background-light: #ffffff,
  foreground-light: #171717,
  background-dark: #0a0a0a,
  foreground-dark: #ededed,
);

// CSS Custom Properties
:root {
  --background: #{map.get($theme-colors, background-light)};
  --foreground: #{map.get($theme-colors, foreground-light)};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{map.get($theme-colors, background-dark)};
    --foreground: #{map.get($theme-colors, foreground-dark)};
  }
}

// Base styles
html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  font-weight: bold;
}
h5 {
  font-size: 0.83em;
  font-weight: bold;
}
h6 {
  font-size: 0.75em;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
