@use "../styles/variables" as *;
@use "sass:map";

// Theme Colors
$theme-colors: (
  background-light: #ffffff,
  foreground-light: #171717,
  background-dark: #0a0a0a,
  foreground-dark: #ededed,
);

// CSS Custom Properties
:root {
  --background: #{map.get($theme-colors, background-light)};
  --foreground: #{map.get($theme-colors, foreground-light)};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{map.get($theme-colors, background-dark)};
    --foreground: #{map.get($theme-colors, foreground-dark)};
  }
}

// Base styles
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
