@use "sass:map";

.page {
  display: flex;
  height: 100%;

  & .mainContent {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    width: 0;
  }
}

.main {
  margin: 0 auto;
  flex-grow: 1;
  overflow-y: auto;
  max-width: map.get($breakpoints, md);
  width: 100%;
}