.badge {
  padding: 8px 16px;
  border-radius: 12px;
}

.size-l {
  padding: 8px 16px;
  border-radius: 12px;
}

.size-m {
  padding: 4px 12px;
  border-radius: 12px;
}

.variant-danger {
  color: #FF6B34;
  background-color: #FF6B3429;
}

.variant-success {
  color: #14C240;
  background-color: #14C24029;
}