.badge {
  padding: 8px 16px;
  border-radius: 12px;
}

.size-l {
  padding: 8px 16px;
  border-radius: 12px;
}

.size-m {
  padding: 4px 12px;
  border-radius: 12px;
}

.size-s {
  padding: 2px 8px;
  border-radius: 8px;
}

.variant-danger {
  color: #FF6B34;
  background-color: #FF6B3429;
}

.variant-success {
  color: #14C240;
  background-color: #14C24029;
}

.variant-secondary {
  color: #9C9C9C;
  background-color: #F7F7F7;
}