.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #F7F7F7;
}

.plansContainer {
  display: flex;
  gap: 24px;
  width: 100%;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  @include media-max(md) {
    flex-direction: column;
  }
}

.paymentHidden {
  visibility: hidden;
}