.container {
  display: flex;
  flex-direction: column;
  gap: spacing(8);
  background-color: #F7F7F7;
}

.plansContainer {
  display: flex;
  gap: spacing(1);
  width: 100%;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  .plan {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 24px;
    gap: 24px;
    flex: 1;
    scroll-snap-align: center;

    @include media-max(md) {
      flex: 1 0 90%;
    }

    & ul {
      list-style: disc;
      list-style-position: inside;

      & li {
        margin-bottom: 4px;

        &:first-child {
          list-style: none;
          margin-bottom: 12px;
        }
      }
    }

    & .selectButton {
      margin-top: auto;
    }
  }
}

.paymentHidden {
  visibility: hidden;
}