.banner {
  display: flex;
  flex-direction: column;

  padding: spacing(4);
  border-radius: spacing(3);
  gap: spacing(3);

  &.row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.variant-base {
  background-color: #F7F7F7;
}

.variant-promo {
  color: #FFFFFF;
  background-image: linear-gradient(122deg, #239EFF 12%, #0F8AFF 46%, #0076EB 79%);
}
