.currentPlanCard {
  border: 1px solid color(primary, 200);
  padding: spacing(4);
  border-radius: border-radius(md);
}

.table {
  border-radius: border-radius(md);
  border: 1px solid color(primary, 200);
  border-collapse: collapse;

  & th,
  & td {
    padding: spacing(2);
    border: 1px solid color(primary, 200);
  }
}
