@use "@/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow-y: auto;
  margin-bottom: spacing(2);
}