.button {
  flex-shrink: 0;

  & .buttonIcon {
    visibility: hidden;
    padding: 8px;
  }

  &.button.button.button:hover {
    background-color: #FFFFFF;

    & .buttonIcon {
      visibility: visible;
    }
  }
}