.newChatButton {
  align-self: stretch;
}

.chatItem {
  padding: spacing(2) spacing(3);
  background-color: color(gray, 50);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  max-height: 50px;
  width: 100%;
  flex: none;
}
