.tabs {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;

  @include media-max(md) {
    gap: 24px;
  }
}

.tabsSwitch {
  display: flex;
  gap: 12px;
  padding: 4px;
  border-radius: 999px;
  background-color: #fff;
  align-self: center;

  & .tab {
    padding: 12px 24px;
  }
}
