.page {
  display: flex;
  height: 100%;
}

.logoutButton {
  margin-top: auto;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding: spacing(4);
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
}
